<div *ngFor='let product of products'>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src={{product.ProductImage}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{product.ProductName}}</h5>
      <p class="card-text">{{product.ProductDescription}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Price : {{product.ProductPrice}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Buy Now</a>
      <a href="#" class="card-link">Add To Cart </a>
    </div>
  </div>
</div>