<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Stock Available</h5>
        <p class="card-text">{{count}}</p>
        <br>
        This repersents the data regarding the product stock. 
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Peers Online</h5>
        <p class="card-text">45,722</p>
        <br>
        This represents data regarding the perrs that are online
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
