<div class="row">
  <div class="col-sm-6 pallet">
    <div class="card w-100">
      <div class="card-body">
        <h5 class="card-title text-center">Stock Available</h5>
        <p class="card-text text-center">{{count}}</p>
       
        
        <p class="text-center"><a href="#" class="btn btn-primary text-center">Go somewhere</a></p>

      </div>
    </div>
  </div>
  
  <!-- <div class="col-sm-6 pallet">
    <div class="card w-100">
      <div class="card-body">
        <h5 class="card-title text-center text-center">Peers Online</h5>
        <p class="card-text text-center">45,722</p>
        
        
        <p class="text-center"><a href="#" class="btn btn-primary ">Go somewhere</a></p>
      </div>
    </div>
  </div> -->
</div>
