<div class="footer">
            
  <div class="container">
      
      <div class="footer-top row">
          
          <div class="cont1 col-sm-3">
              
              <h2><span>Shop</span>MI</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>
              
          </div>
          
          <div class="cont2 col-sm-3">
             
             <div class="mid mid1">
              
                 <a href=""><img src="../../../../assets//images/girl1.jpg" alt=""></a>
              <p>Circle of Hands</p>
              <h2>24 DEC 2014</h2>
              
              </div>
              
              <div class="mid mid2">
              
              <a href=""><img src="../../../../assets//images/girl2.jpg" alt=""></a>
              <p>Circle of Hands</p>
              <h2>24 DEC 2014</h2>
              
              </div>
              
              <div class="mid mid3">
              
             <a href=""><img src="../../../../assets//images/girl3.jpg" alt=""></a>
              <p>Circle of Hands</p>
              <h2>24 DEC 2014</h2>
              
              </div>
              
              <div class="mid mid4">
              
             <a href=""><img src="../../../../assets//images/iframe4.png" alt=""></a>
              <p>Circle of Hands</p>
              <h2>24 DEC 2014</h2>
              
              </div>
     
          </div>
          
          <div class="cont3">
              
              <img src="../../../../assets//images/map.png" alt="">
              
              
          </div>
          
      </div>
      
      <div class="footer-bottom">
          
          <div class="bottomwrap row">
              
              <div class="child col-sm-2">
                  
                 <ul>
                     <li><a href=""><h2>SERVICE</h2></a></li>
                     <li><a href="">Online Help</a></li>
                     <li><a href="">Contact Us</a></li>
                     <li><a href="">Order Status</a></li>
                     <li><a href="">Change Location</a></li>
                     <li><a href="">FAQ's</a></li>
                 </ul>
                  
              </div>
              
              
               <div class="child col-sm-2">
                  
                 <ul>
                     <li><a href=""><h2>SERVICE</h2></a></li>
                     <li><a href="">Online Help</a></li>
                     <li><a href="">Contact Us</a></li>
                     <li><a href="">Order Status</a></li>
                     <li><a href="">Change Location</a></li>
                     <li><a href="">FAQ's</a></li>
                 </ul>
                  
              </div>
              
               <div class="child col-sm-2">
                  
                 <ul>
                     <li><a href=""><h2>SERVICE</h2></a></li>
                     <li><a href="">Online Help</a></li>
                     <li><a href="">Contact Us</a></li>
                     <li><a href="">Order Status</a></li>
                     <li><a href="">Change Location</a></li>
                     <li><a href="">FAQ's</a></li>
                 </ul>
                  
              </div>
              
              <!-- <div class="shopper col-sm-2">
                  
                  <h2>ABOUT SHOPPER</h2>
                  
                  <input type="text" placeholder="your email address">
                  
                  <button><i class="fa fa-arrow-circle-o-right"></i></button>
                  
                  <p>Get the most recent updates from 
our site and be updated your self...</p>
                  
              </div> -->
              
              
              
          </div>
          
          
      </div>
      
  </div>
  
  
</div>
