.loginBackground{
    background-color: #4E5766;
    width: 30% !important;
    border-radius: 1% !important;
    padding: 5%;
    -webkit-box-shadow: 8px 8px 30px -6px black;
}

.loginBtn{

    margin-left:40%;
   
}

.AdminPanel{

    background-color: #454E5D;
    width: 100%;
    height: 100%;
    padding: 10%;
  

    margin-left: 20%;

}